#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
 }
 #nav-menu ul{
     list-style-type: none;
     margin: 0;
     padding: 0;
 } 
 #nav-menu ul li{
     display: inline;
 }
 #nav-menu ul li a{
     color: white;
     text-decoration: none;
     padding: 10px 20px;
 }
 #nav-menu ul li a:hover{
     background-color: #555;
 }